* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto Condensed", sans-serif;
}
/*font-family: 'Istok Web', sans-serif;*/

:root {
  --clr-text: #fff;
  --clr-darktext: #44435f;
  --clr-ptext: #877070;
  --clr-bg-lightblue: #51a4ca;
  --clr-bg-gray: #d9d9d7;
  --clr-orange: #ebac45;
  --clr-magenta: #c43469;
  --clr-green: #8bba54;
  --clr-violet: #774594;
  --clr-bg-darkblue: #295f7d;
  --clr-red: #d63a36;
}

a {
  text-decoration: none;
  cursor: pointer;
}
button {
  border: none;
  cursor: pointer;
}

.d-flex {
  display: flex;
  flex-wrap: wrap;
}
.text-align {
  text-align: center;
}
.text-deco {
  text-decoration: none;
}

/*HEADER*/
header .container {
  width: 100%;
  padding: 0.8rem 0.5em;
}
header .nav-col {
  width: 50%;
}
header img {
  height: 4em;
  position: relative;
}
header .search {
  justify-content: flex-end;
  align-items: center;
  padding-right: 30px;
}
.search .button {
  align-items: center;
  justify-content: center;
  text-decoration: none;
  width: 120px;
  height: 2.5rem;
  border-radius: 20px;
  font-size: 18px;
  border: none;
  background-color: rgb(212, 211, 211);
}
.search .button:hover {
  border-bottom: 2px solid gray;
}
.search .button i {
  padding-left: 5px;
  color: rgb(80, 164, 202);
}
.nav-logo img:hover {
  animation: bounce ease-in-out 150ms infinite alternate;
  transform-origin: center -20px;
}
@keyframes bounce {
  0% {
    transform: rotate(4deg);
  }
  100% {
    transform: rotate(-4deg);
  }
}

/*HERO*/
#hero {
  background-image: url("https://www.phoenixchildrens.org/files/2020-12/Mom_Daughter.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding: 6em 5em;
  justify-content: center;
  align-items: center;
}

.hero-text {
  color: white;
  font-size: clamp(1.5em, 3.5vw, 3em);
  line-height: 1.5;
  justify-content: center;
}
.hero-col button {
  width: 90%;
  height:40px;
  border-radius: 4px;
  margin-top: 40px;
  background-color: #4997b9;
  border: 2px solid white;
  color: white;
  font-size: 15px;
}
.hero-col button:hover {
  background: #398caf;
}
/*Covid-update*/
#covid-update {
  background-color: var(--clr-bg-lightblue);
  padding: 1em;
}
#covid-update .update-image {
  display: none;
}

.d-flex-col {
  flex-direction: column;
}
.update-box {
  background-color: var(--clr-bg-gray);
  margin: 10px;
  color: var(--clr-darktext);
  padding: 1.5em;
  justify-content: center;
  line-height: 2;
}
/*appointment*/

.appointment-row {
  padding: 1.5em;
}
.appointment-box {
  padding: 1em;
  border-bottom: 1px solid rgb(218, 212, 212);
  align-items: center;
  transition: 150ms;
}
.appointment-box i {
  width: 1.2em;
  margin-right: 0.2em;
}
.appointment-box .icon-cap {
  color: black;
}
.appointment-row .icon-1 {
  color: var(--clr-orange);
}

.appointment-row .icon-2 {
  color: var(--clr-magenta);
}
.appointment-row .icon-3 {
  color: var(--clr-green);
}
.appointment-row .icon-4 {
  color: var(--clr-violet);
}
.appointment-box:hover {
  
  transform: scale(1.03);
  border-radius: 10px;
}
.appointment-box:hover p{
  color: #fff;
}
.appointment-box:hover i {
  color: white;
}
.appointment-box-1:hover {
  background-color: #ebab44;
}
.appointment-box-2:hover {
  background-color: #c43469;
}
.appointment-box-3:hover {
  background-color: #8bba54;
}
.appointment-box-4:hover {
  background-color: rgb(119, 69, 148);
}

/*excellence*/
#excellence {
  background-color: #211e1f;
  color: var(--clr-text);
  padding: 4em 1em;
}
.left-text-content .list {
  line-height: 2;
  margin-top: 20px;
}
.left-text-content span {
  font-size: 2.5em;
  line-height: 1;
}
.four-pics {
  display: none;
}
#excellence ul {
  text-decoration: none;
  list-style-type: none;
  letter-spacing: 0.5px;
}
#excellence i {
  margin-right: 5px;
  color: gray;
}
#excellence button {
  width: 190px;
  height: 45px;
  border-radius: 5px;
  border: none;
  background-color: #d53a36;
  color: white;
  font-size: 16px;
  margin-top: 20px;
}
/*ANNOUNNCEMENTS*/
#announcements {
  padding: 3em 0;
}
.announcement-row {
  flex-direction: column;
}
.announcement-box {
  padding: 10px;
  line-height: 1.6;
}
#announcements img {
  object-fit: cover;
  width: 100%;
  transition: 200ms;
}
#announcements img:hover {
  transform: scale(1.02);
}
.announcement-box span,
a,
p {
  display: block;
}
.announcement-box span {
  color: var(--clr-bg-lightblue);
}
.description a {
  font-size: 1.5em;
  font-weight: 500;
  color: #211e1f;
  line-height: 1;
  margin: 10px 0;
}
.description a:hover {
  color: var(--clr-red);
}
.announcement-box p {
  color: var(--clr-ptext);
}

/*FOR VISIT*/
#for-visit {
  background-color: var(--clr-bg-lightblue);
  padding: 3em 1em;
  line-height: 2;
}
#for-visit .visit-row,
i,
span {
  flex-direction: column;
  color: white;
}
#for-visit .title {
  font-size: 2em;
  margin-bottom: 10px;
}
.lower-box {
  flex-direction: column;
  margin-top: 20px;
}
.visit-box {
  padding: 1em;
  border-bottom: 1px solid rgb(218, 212, 212);
  align-items: center;
  transition: 200ms;
}
.visit-box:hover {
  transform: scale(1.05);
  background-color: var(--clr-bg-darkblue);
  border-radius: 5px;
}
.visit-box .i-content {
  width: 40px;
  margin-right: 20px;
}
/*DONATE*/
#donate {
  padding: 2em 1em;
  line-height: 1;
}
.donate-row {
  flex-direction: column;
}
.donate-box {
  background-color: #877070;
  padding: 2em;
  margin: 10px 0;
  transition: ease;
  justify-content: center;
}
.donate-box:hover {
  transform: scale(1.02);
}
#donate a {
  color: white;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  line-height: 2;
}
.donate-box-content i {
  margin-bottom: 20px;
}
.donate-box-content span {
  font-size: 1.5em;
}
.donate-box-content button {
  margin-top: 20px;
  padding: 0.5em 1.5em;
  font-size: 1em;
  border-radius: 5px;
  border: none;
}
#donate .box-1 {
  background-color: var(--clr-bg-darkblue);
}
#donate .box-2 {
  background-color: var(--clr-violet);
}
#donate .box-3 {
  background-color: var(--clr-red);
}
footer {
  padding:0 15px 250px 15px;
  background-color: #636469;
  height: 210px;
}
footer .container{
  width: 100%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
footer i{
  padding: 20px 10px; 
}
footer .mid-footer{
  margin: 30px 0 25px 0;
  flex-direction: row;
  font-size: 14px;
}

/*footer ul{
  justify-content: space-between;
  align-items: center;
}*/
footer a{
  color:#4f9dbe;
  
}
footer li{
  list-style: none;
}
footer .bottom-footer,
footer ul{  
  justify-content: space-between;
  align-items: center;
  font-size: 15px;
}
footer .footer-line{
  border-right: 2px solid white;
  height: 15px;
}
footer span{
  margin: 0 4px;
}
.bottom-footer span,
ul span{
  font-weight: bold;
  letter-spacing: 0.5px;
  
}
.bottom-footer span,
.bottom a{
  margin: 3px;
}